@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: rgb(177, 177, 177);    
    color: rgb(15, 20, 30);
    font: normal 16px 'Roboto', sans-serif;
}

a{
    color: #000;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: rgb(48, 48, 48);
}

a:visited{
    color: rgb(0, 86, 112);
}

.container{
    max-width: 80%;
    margin: auto;
}


.avatar{
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info p{
    color: #0f141e;
    margin: 0;
}

.bg-blue{
    background-image: linear-gradient(45deg, rgb(150, 106, 255), rgb(255, 97, 97));
}
.bg-red{
    background-image: linear-gradient(45deg, rgb(255, 97, 97), rgb(111, 255, 142));
}
.bg-yellow{
    background-image: linear-gradient(45deg, rgb(111, 255, 142), rgb(185, 64, 255));
}

.card{
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border-image: linear-gradient(45deg, rgb(150, 106, 255), rgb(255, 97, 97));;
}

.table{
    width: 100%;
}
.table td{
    padding-bottom: 10px;
}

.stats{
    font-weight: 900;
}

.info{
    display: flex;
}


.info .text-info{
    margin-left: 15px;

}

.front{
    margin-top: 20px;
}

.description{
    padding-bottom: 10px;
}

@media(max-width: 1000px){
    .info{
        text-align: center;
        display: block;
    }
    .container{
        font-size: 25px;
    }
}